{% extends "base.html" %}

{% block custom_css %}
{% endblock %}

{% block content %}
<form method="POST">
<div class="row">
    <div class="text-right col-4 pt-2">
        <h1 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Settings</h1>
        <hl><div></div></hl>
        {% include 'parts/megalink.html' %}
    </div>
    <div class="text-left col-8">
        <div class="row">
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <h2>Web Server</h2>
                    <p class="mb-0 p-2">
                        The Web Server is a module that allows you to manage your bots through a web browser.
                    </p>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white pb-0">
                    <div class="row">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Web Basic</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <div class="row">
                                <div class="text-left col-6">
                                    <div class="md-form form-sm mt-1">
                                        <input type="text" name="web_host" id="web_host" class="form-control form-control-sm validate text-white" value="{{ config['web']['host'] }}" required />
                                        <label data-error="wrong" data-success="right" for="web_host">Web Host Address</label>
                                    </div>
                                    <div class="md-form form-sm">
                                        <input type="number" name="web_port" id="web_port" class="form-control form-control-sm validate text-white" value="{{ config['web']['port'] }}" required />
                                        <label data-error="wrong" data-success="right" for="web_port">Web Host Port</label>
                                    </div>
                                </div>
                                <div class="text-left col-6">
                                    <div class="md-form form-sm mt-1">
                                        <input type="number" name="update_interval" id="update_interval" class="form-control form-control-sm validate text-white" value="{{ config['interval'] }}" required />
                                        <label data-error="wrong" data-success="right" for="update_interval">Task Interval in Seconds</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white pb-0">
                    <div class="row">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Web Credentials</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <div class="row">
                                <div class="text-left col-12">
                                    <div class="md-form form-sm mt-1">
                                        <input type="password" name="web_token" id="web_token" class="form-control form-control-sm validate text-white" value="{{ config['web']['token'] }}" required />
                                        <label data-error="wrong" data-success="right" for="web_token">Web Host Token</label>
                                    </div>
                                </div>
                                <div class="text-left col-6">
                                    <div class="md-form form-sm mt-1">
                                        <input type="text" name="web_user" id="web_user" class="form-control form-control-sm validate text-white" value="{{ config['web']['user'] }}" required />
                                        <label data-error="wrong" data-success="right" for="web_user">Web Host Login</label>
                                    </div>
                                </div>
                                <div class="text-left col-6">
                                    <div class="md-form form-sm mt-1">
                                        <input type="password" name="web_pass" id="web_pass" class="form-control form-control-sm validate text-white" value="{{ config['web']['pass'] }}" required />
                                        <label data-error="wrong" data-success="right" for="web_pass">Web Host Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <div class="text-right">
                        <button name="submit" type="submit" value="web" class="btn btn-outline-warning">Save <i class="fas fa-edit ml-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

{% endblock %}

{% block custom_js %}
{% endblock %}