{% extends "base.html" %}

{% block custom_css %}
{% endblock %}

{% block content %}
<form method="POST">
<div class="row">
    <div class="col-4 text-right pt-2">
        <h1 class='u-margin-bottom-md ml-3 mr-3 text-warning'>New Task</h1>
        <hl><div></div></hl>
        {% include 'parts/megalink.html' %}
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <h2>Manual Task</h2>
                    <p class="mb-0">
                        Create a new task manually. This task will be added to the queue and processed in the order it
                        was received.
                    </p>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white pb-0">
                    <div class="row">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Task Data</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <div class="row">
                                <div class="text-left col-6">
                                    <div class="input-field">
                                        <select name="task_action" id="task_action" class="hidden validate" required>
                                            <option value="" disabled selected>Choose Action *</option>
                                            {% for action in actions %}
                                            <option value="{{ action }}">{{ action|upper }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="text-left col-6">
                                    <div class="input-field">
                                        <select name="task_exec" id="task_exec" class="hidden validate" required>
                                            <option class="bg-dark-3 text-white-50" value="" disabled selected>Execute Instantly? *</option>
                                            <option class="bg-dark-4 text-white" value="0">No, add to queue</option>
                                            <option class="bg-dark-4 text-white" value="1">Yes, execute now</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-4">
                                <div class="text-left col-6">
                                    <div class="md-form form-sm mt-4">
                                        <input type="text" name="task_name" id="task_name" class="form-control form-control-sm validate text-white" placeholder="0xLUN4" required />
                                        <label data-error="wrong" data-success="right" for="task_name">User name to add *</label>
                                    </div>
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" name="task_input" id="task_input" class="form-control form-control-sm validate text-white" placeholder="V_LKY" required />
                                        <label data-error="wrong" data-success="right" for="task_input">User input to add *</label>
                                    </div>
                                    <div class="md-form form-sm mt-0">
                                        <input type="text" name="task_role" id="task_role" class="form-control form-control-sm validate text-white" placeholder="WASTED" />
                                        <label data-error="wrong" data-success="right" for="task_role">Discord role to assign</label>
                                    </div>
                                </div>
                                <div class="text-left col-6">
                                    <div class="md-form form-sm mt-4">
                                        <input type="text" name="task_reward" id="task_reward" class="form-control form-control-sm validate text-white" placeholder="Timeout a User" required />
                                        <label data-error="wrong" data-success="right" for="task_reward">Reward name *</label>
                                    </div>
                                    <div class="md-form form-sm mt-0">
                                        <input type="number" name="task_cost" id="task_cost" class="form-control form-control-sm validate text-white" placeholder="1337" required />
                                        <label data-error="wrong" data-success="right" for="task_cost">Reward cost *</label>
                                    </div>
                                    <div class="md-form form-sm mt-0">
                                        <input type="number" name="task_time" id="task_time" class="form-control form-control-sm validate text-white" placeholder="300" />
                                        <label data-error="wrong" data-success="right" for="task_time">Timeframe in seconds</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <div class="text-right">
                        <button name="submit" type="submit" value="add" class="btn btn-outline-warning">Add <i class="fas fa-plus ml-1"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block custom_js %}
<script>
$(document).ready(function() {
    // Materialize Select
    $('select').material_select();
});
</script>
{% endblock %}