{% extends "base.html" %}

{% block custom_css %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3 p-2">
        <div class="card card-body bg-dark text-white text-left">
            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Valkyrie Bot</h3>
            <hl><div></div></hl>
            <div class="text-right pb-3">
                <h1 class="
                    {{ 'text-success' if vk_status == 'ONLINE' }}
                    {{ 'text-info' if vk_status == 'STARTED' }}
                    {{ 'text-danger' if vk_status == 'OFFLINE' }}
                ">{{ vk_status }}</h1>
                <i class="text-white-50">STATUS</i>
                <div class="dropdown">
                    <button class="white-50" type="button" id="ddown_vk" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="dropdown-menu bg-dark-2" aria-labelledby="ddown_vk">
                        <a class="dropdown-item p-1 bg-dark-4 text-white" href="/start/vk">
                            <div class="row" title="Start the Valkyrie Bot.">
                                <div class="col-3"><i class="fal fa-play pl-2"></i></div>
                                <div class="col-9">Run Bot</div>
                            </div>
                        </a>
                        <a class="dropdown-item p-1 bg-dark-4 text-white" href="/{{ stringtable['lang'] }}/valky/status">
                            <div class="row" title="Check the Valkyrie Bot.">
                                <div class="col-3"><i class="fal fa-laptop-medical pl-2"></i></div>
                                <div class="col-9">Bot Status</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <i class="text-white-50"><i class="fal fa-clock"></i> {{ vk_start_time }}</i>
            <hl><div></div></hl>
        </div>
    </div>
    <div class="col-3 p-2">
        <div class="card card-body bg-dark text-white text-left">
            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Discord Bot</h3>
            <hl><div></div></hl>
            <div class="text-right pb-3">
                <h1 class="
                    {{ 'text-success' if dc_status == 'ONLINE' }}
                    {{ 'text-info' if dc_status == 'STARTED' }}
                    {{ 'text-danger' if dc_status == 'OFFLINE' }}
                ">{{ dc_status }}</h1>
                <i class="text-white-50">STATUS</i>
                <div class="dropdown">
                    <button class="white-50" type="button" id="ddown_dc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="dropdown-menu bg-dark-2" aria-labelledby="ddown_dc">
                        <a class="dropdown-item p-1 bg-dark-4 text-white" href="/start/dc">
                            <div class="row" title="Start the Discord Bot.">
                                <div class="col-3"><i class="fal fa-play pl-2"></i></div>
                                <div class="col-9">Run Bot</div>
                            </div>
                        </a>
                        <a class="dropdown-item p-1 bg-dark-4 text-white" href="/{{ stringtable['lang'] }}/discord/status">
                            <div class="row" title="Check the Discord Bot.">
                                <div class="col-3"><i class="fal fa-laptop-medical pl-2"></i></div>
                                <div class="col-9">Bot Status</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <i class="text-white-50"><i class="fal fa-clock"></i> {{ dc_start_time }}</i>
            <hl><div></div></hl>
        </div>
    </div>
    <div class="col-3 p-2">
        <div class="card card-body bg-dark text-white text-left">
            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Twitch Bot</h3>
            <hl><div></div></hl>
            <div class="text-right pb-3">
                <h1 class="
                    {{ 'text-success' if tw_status == 'ONLINE' }}
                    {{ 'text-info' if tw_status == 'STARTED' }}
                    {{ 'text-danger' if tw_status == 'OFFLINE' }}
                ">{{ tw_status }}</h1>
                <i class="text-white-50">STATUS</i>
                <div class="dropdown">
                    <button class="white-50" type="button" id="ddown_tw" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="dropdown-menu bg-dark-2" aria-labelledby="ddown_tw">
                        <a class="dropdown-item p-1 bg-dark-4 text-white" href="/start/tw">
                            <div class="row" title="Start the Twitch Bot.">
                                <div class="col-3"><i class="fal fa-play pl-2"></i></div>
                                <div class="col-9">Run Bot</div>
                            </div>
                        </a>
                        <a class="dropdown-item p-1 bg-dark-4 text-white" href="/{{ stringtable['lang'] }}/twitch/status">
                            <div class="row" title="Check the Twitch Bot.">
                                <div class="col-3"><i class="fal fa-laptop-medical pl-2"></i></div>
                                <div class="col-9">Bot Status</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <i class="text-white-50"><i class="fal fa-clock"></i> {{ tw_start_time }}</i>
            <hl><div></div></hl>
        </div>
    </div>
    <div class="col-3 p-2">
        <div class="card card-body bg-dark text-white text-left">
            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Luna API</h3>
            <hl><div></div></hl>
            <div class="text-right pb-3">
                <h1 class="{{ 'text-success' if l4_status else 'text-danger' }}">{{ 'ONLINE' if l4_status else 'OFFLINE' }}</h1>
                <i class="text-white-50">STATUS</i>
                <div class="dropdown">
                    <button class="white-50" type="button" id="ddown_tw" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="dropdown-menu bg-dark-2" aria-labelledby="ddown_tw">
                        <a class="dropdown-item p-1 bg-dark-4 text-white">
                            <div class="row" title="Latency in milliseconds.">
                                <div class="col-3"><i class="fal fa-tachometer-fast pl-2"></i></div>
                                <div class="col-9">{{ ping }} ms</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <i class="text-white-50"><i class="fal fa-clock"></i> {{ l4_server_time }}</i>
            <hl><div></div></hl>
        </div>
    </div>
</div>
<div class="row pt-5">
    <div class="col-4 text-right pt-2">
        <h1 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Project 0xLUN4</h1>
        <hl><div></div></hl>
        {% include 'parts/megalink.html' %}
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <h2>The Valkyrie Bot</h2>
                    <p class="mb-0">
                        The Valkyrie Bot is a project created by <a class="text-warning" href="https://valky.dev/en">Valky Fischer</a>,
                        designed to provide functionality for Discord and Twitch communities. It handles and executes
                        all tasks, while it aims to be versatile and user-friendly, suitable for various communities
                        and content creators. It is currently in development, and will be updated frequently. If you
                        have any questions, suggestions, or concerns, please contact me on <a class="text-warning" href="https://discord.gg/vky">Discord</a>.
                    </p>
                    <div class="text-right">
                        <a href="/{{ stringtable['lang'] }}/valky/status" class="btn btn-outline-white btn-sm mt-2">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <div class="row">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Discord Bot</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <p class="mb-0">
                                A Discord bot that sends notifications and utilizes slash commands. Can add tasks.
                            </p>
                            <div class="text-right">
                                <a href="/{{ stringtable['lang'] }}/discord/status" class="btn btn-outline-white btn-sm mt-2">More Info</a>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Twitch Bot</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <p class="mb-0">
                                A Twitch bot that checks for multiple actions and responds to chat commands. Can add tasks.
                            </p>
                            <div class="text-right">
                                <a href="/{{ stringtable['lang'] }}/twitch/status" class="btn btn-outline-white btn-sm mt-2">More Info</a>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Luna API</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <p class="">
                                L.U.N.A. represents a remarkable leap forward in AI technology, driven by the power of
                                Microsoft's GPT-4 language model. I've trained this AI using data collected over the past
                                several years from private Discord channels, Twitch streams, and various other public platforms.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pt-5">
    <div class="text-right col-4">
        <h1 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Latest 5 Logs</h1>
        <hl><div></div></hl>
        <p>View all logs <a class="text-warning" href="/{{ stringtable['lang'] }}/logs">here...</a></p>
    </div>
    <div class="text-left col-8">
        <div class="row">
            <div class="col-12">
                <table class="table table-dark table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Level</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                        <tr class="{{ 'text-warning' if log['level']|lower == 'warning' else ('text-danger' if log['level']|lower == 'error' else '') }}">
                            <td>{{ log['time'] }}</td>
                            <td>{{ log['level'] }}</td>
                            <td>{{ log['message'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_js %}
{% endblock %}