{% extends "base.html" %}

{% block custom_css %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3 p-2">
        <div class="card card-body bg-dark text-white text-left">
            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Valkyrie Bot</h3>
            <hl><div></div></hl>
            <div class="text-right">
                <h1 class="
                    {{ 'text-success' if vk_status == 'ONLINE' }}
                    {{ 'text-info' if vk_status == 'STARTED' }}
                    {{ 'text-danger' if vk_status == 'OFFLINE' }}
                ">{{ vk_status }}</h1>
                <i class="text-white-50">STATUS</i>
                <div class=""><a href="/start/vk" class="btn btn-outline-info btn-sm mt-2 w-100">Run Bot</a></div>
                <i class="text-white-50">START</i>
            </div>
        </div>
    </div>
    <div class="col-3 p-2">
        <div class="card card-body bg-dark text-white text-left">
            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Discord Bot</h3>
            <hl><div></div></hl>
            <div class="text-right">
                <h1 class="{{ 'text-success' if dc_status else 'text-danger' }}">{{ 'ONLINE' if dc_status else 'OFFLINE' }}</h1>
                <i class="text-white-50">STATUS</i>
                <div class=""><a href="/start/dc" class="btn btn-outline-info btn-sm mt-2 w-100">Run Bot</a></div>
                <i class="text-white-50">START</i>
            </div>
        </div>
    </div>
    <div class="col-3 p-2">
        <div class="card card-body bg-dark text-white text-left">
            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Twitch Bot</h3>
            <hl><div></div></hl>
            <div class="text-right">
                <h1 class="{{ 'text-success' if tw_status else 'text-danger' }}">{{ 'ONLINE' if tw_status else 'OFFLINE' }}</h1>
                <i class="text-white-50">STATUS</i>
                <div class=""><a href="/start/tw" class="btn btn-outline-info btn-sm mt-2 w-100">Run Bot</a></div>
                <i class="text-white-50">START</i>
            </div>
        </div>
    </div>
    <div class="col-3 p-2">
        <div class="card card-body bg-dark text-white text-left">
            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Luna API</h3>
            <hl><div></div></hl>
            <div class="text-right">
                <h1 class="{{ 'text-success' if l4_status else 'text-danger' }}">{{ 'ONLINE' if l4_status else 'OFFLINE' }}</h1>
                <i class="text-white-50">STATUS</i>
                <h2 class="text-info pt-2 pb-1">{{ ping }} ms</h2>
                <i class="text-white-50">LATENCY</i>
            </div>
        </div>
    </div>
</div>
<div class="row pt-5">
    <div class="text-right col-4">
        <h1 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Project 0xLUN4</h1>
        <hl><div></div></hl>
        <p class="pt-2 pr-2 "><a class="text-white" href="https://github.com/ValkyFischer/0xLUN4">Build {{ build }}</a></p>
        <p class="pr-2 "><a class="white-50" href="javascript:location.reload()">Refresh</a></p>
        <p class="pr-2"><a class="white-50" href="/{{ stringtable['lang'] }}/valky/tasks">View Tasks</a></p>
        <p class="pr-2"><a class="white-50" href="/{{ stringtable['lang'] }}/logs">View Logs</a></p>
    </div>
    <div class="text-left col-8">
        <div class="row">
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <h2>The Valkyrie Bot</h2>
                    <p class="mb-0">
                        The Valkyrie Bot is a project created by <a class="text-warning" href="https://valky.dev/en">Valky Fischer</a>,
                        designed to provide functionality for Discord and Twitch communities. It handles and executes
                        all tasks, while it aims to be versatile and user-friendly, suitable for various communities
                        and content creators. It is currently in development, and will be updated frequently. If you
                        have any questions, suggestions, or concerns, please contact me on <a class="text-warning" href="https://discord.gg/vky">Discord</a>.
                    </p>
                    <div class="text-right">
                        <a href="/{{ stringtable['lang'] }}/valky/status" class="btn btn-outline-white btn-sm mt-2">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <div class="row">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Discord Bot</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <p class="mb-0">
                                A Discord bot that sends notifications and utilizes slash commands. Can add tasks.
                            </p>
                            <div class="text-right">
                                <a href="/{{ stringtable['lang'] }}/discord/status" class="btn btn-outline-white btn-sm mt-2">More Info</a>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Twitch Bot</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <p class="mb-0">
                                A Twitch bot that checks for multiple actions and responds to chat commands. Can add tasks.
                            </p>
                            <div class="text-right">
                                <a href="/{{ stringtable['lang'] }}/twitch/status" class="btn btn-outline-white btn-sm mt-2">More Info</a>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Luna API</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <p class="">
                                L.U.N.A. represents a remarkable leap forward in AI technology, driven by the power of
                                Microsoft's GPT-4 language model. I've trained this AI using data collected over the past
                                several years from private Discord channels, Twitch streams, and various other public platforms.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pt-5">
    <div class="text-right col-4">
        <h1 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Latest 5 Logs</h1>
        <hl><div></div></hl>
        <p>View all logs <a class="text-warning" href="/{{ stringtable['lang'] }}/logs">here...</a></p>
    </div>
    <div class="text-left col-8">
        <div class="row">
            <div class="col-12">
                <table class="table table-dark table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Level</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                        <tr class="{{ 'text-warning' if log['level']|lower == 'warning' else ('text-danger' if log['level']|lower == 'error' else '') }}">
                            <td>{{ log['time'] }}</td>
                            <td>{{ log['level'] }}</td>
                            <td>{{ log['message'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_js %}
{% endblock %}