{% extends "base.html" %}

{% block custom_css %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4 text-right pt-2">
        <h1 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Twitch Bot</h1>
        <hl><div></div></hl>
        {% include 'parts/megalink.html' %}
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <h2 class="">
                        Status
                        <span class="pt-2
                            {{ 'text-success' if tw_status == 'ONLINE' }}
                            {{ 'text-info' if tw_status == 'STARTED' }}
                            {{ 'text-danger' if tw_status == 'OFFLINE' }}
                        ">{{ tw_status }}
                        </span>
                    </h2>
                    <p class="mb-0 p-2">
                        The Twitch bot that checks for multiple actions and responds to chat commands. It listens for
                        channel points redemptions and subscriptions, and creates tasks for The Valkyrie Bot to complete.
                    </p>
                    <div class="row px-2">
                        <div class="col-5">
                            Possible channel point actions:<br>
                                - Timeout a user<br>
                                - Make a user a VIP<br>
                                - Make a user a Mod<br>
                        </div>
                        <div class="col-7">
                            Channel emotes:<br>
                            {% for emote in emotes %}
                                <img src="{{ emote['images']['url_4x'] }}" alt="{{ emote['name'] }}" class="img-fluid" height="32px" width="32px" />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <div class="row">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Controls</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <div class="row">
                                <div class="col-5 pt-2">Start the bot</div>
                                <div class="col-5"><a href="/start/tw" class="btn btn-outline-info btn-sm mt-2 w-100">Start</a></div>
                            </div>
                            <div class="row">
                                <div class="col-5 pt-2">Settings, Twitch</div>
                                <div class="col-5"><a href="/{{ stringtable['lang'] }}/settings/twitch" class="btn btn-outline-white btn-sm mt-2 w-100">Settings, Basic</a></div>
                            </div>
                            <div class="row">
                                <div class="col-5 pt-2">Settings, Bot Scopes</div>
                                <div class="col-5"><a href="/{{ stringtable['lang'] }}/settings/scopes" class="btn btn-outline-white btn-sm mt-2 w-100">Settings, Scopes</a></div>
                            </div>
                            <div class="row">
                                <div class="col-5 pt-2">Settings, Point Rewards</div>
                                <div class="col-5"><a href="/{{ stringtable['lang'] }}/settings/rewards" class="btn btn-outline-white btn-sm mt-2 w-100">Settings, Rewards</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <div class="row">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Stream Info</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <div class="row">
                                <div class="col-5">Stream Status</div>
                                <div class="col-7 {{ 'text-success' if is_live else 'text-danger' }}">
                                    {{ 'ONLINE' if is_live else 'OFFLINE' }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">Stream Title</div>
                                <div class="col-7">
                                    <a class="text-white-50" data-toggle="modal" data-target="#streamInfo">
                                        <i class="fal fa-edit" title="Edit the stream information."></i></a>
                                    <i class="fal fa-grip-lines-vertical mx-1 text-warning"></i>{{ stream_title }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">Stream Game</div>
                                <div class="col-7">
                                    <a class="text-white-50" data-toggle="modal" data-target="#streamInfo">
                                        <i class="fal fa-edit" title="Edit the stream information."></i></a>
                                    <i class="fal fa-grip-lines-vertical mx-1 text-warning"></i>{{ stream_game }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-2">
                <div class="card card-body bg-dark text-white">
                    <div class="row">
                        <div class="text-right col-4 pt-2">
                            <h3 class='u-margin-bottom-md ml-3 mr-3 text-warning'>Channel Info</h3>
                            <hl><div></div></hl>
                        </div>
                        <div class="text-left col-8">
                            <div class="row">
                                <div class="col-5">Amount of Followers</div>
                                <div class="col-7">{{ follower_count }}</div>
                            </div>
                            <div class="row">
                                <div class="col-5">Amount of Subscribers</div>
                                <div class="col-7">{{ subscriber_count }}</div>
                            </div>
                            <div class="row">
                                <div class="col-5">Amount of VIPs</div>
                                <div class="col-7">{{ vip_count }}</div>
                            </div>
                            <div class="row">
                                <div class="col-5">Amount of Moderators</div>
                                <div class="col-7">{{ mod_count }}</div>
                            </div>
                            <div class="row">
                                <div class="col-5">Amount of Emotes</div>
                                <div class="col-7">{{ emote_count }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="POST">
<div class="modal fade pt-5" id="streamInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog pt-5" role="document">
		<div class="modal-content bg-dark">

            <div class="modal-header bg-dark-3">
                <h3 class="modal-title">Stream Information</h3>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mb-1">
                <div class="md-form form-sm mb-5">
                    <input name="stream_title" type="text" id="stream_title" class="form-control form-control-sm validate text-white" value="{{ stream_title }}" required />
                    <label data-error="wrong" data-success="right" for="stream_title">Stream Title</label>
                </div>
                <div class="md-form form-sm mb-5">
                    <input name="stream_game" type="text" id="stream_game" class="form-control form-control-sm validate text-white" value="{{ stream_game }}" required />
                    <label data-error="wrong" data-success="right" for="stream_game">Stream Game</label>
                </div>
            </div>

            <div class="modal-footer bg-dark-3">
                <button name="submit" type="submit" value="stream" class="btn btn-outline-warning waves-effect ml-auto">Save <i class="fas fa-reply ml-1"></i></button>
            </div>

		</div>
	</div>
</div>
</form>
{% endblock %}

{% block custom_js %}
{% endblock %}