
<ul class="MegaLink-list pt-2">
    <li class="MegaLink-item item-r">
        <a class="MegaLink-link link-r">Build {{ build_v }}</a>
    </li>
</ul>
<ul class="MegaLink-list">
    <li class="MegaLink-item item-r">
        <a class="MegaLink-link link-r" href="javascript:location.reload()">Refresh</a>
    </li>
</ul>
<ul class="MegaLink-list">
    <li class="MegaLink-item item-r">
        <a class="MegaLink-link link-r" href="/{{ stringtable['lang'] }}/valky/tasks/new">New Task</a>
    </li>
</ul>
<ul class="MegaLink-list">
    <li class="MegaLink-item item-r">
        <a class="MegaLink-link link-r" href="/{{ stringtable['lang'] }}/valky/tasks">View Tasks</a>
    </li>
</ul>
<ul class="MegaLink-list">
    <li class="MegaLink-item item-r">
        <a class="MegaLink-link link-r" href="/{{ stringtable['lang'] }}/logs">View Logs</a>
    </li>
</ul>
