

    {# HEADER #}
    <header id="masthead" class="site-header">
        <div class="header-container">
            <div class="SiteHeader">
                <!-- Logo -->
                <h1 class="Logo"><a href="/{{ stringtable['lang'] }}"><img src="https://exv.al/static/img/dev_l.webp" alt="Valky Dev" width="100px"></a></h1>
                <!-- .Logo -->
                <!-- Menu -->
                <div class="SiteHeaderMenu">
                    <!-- 1Depth -->
                    <div class="SiteHeaderMenu1Depth">
                        <nav id="site-navigation" class="main-navigation" aria-label="Top Menu">
                            <div class="menu-headermenu-%ec%98%81%ec%96%b4-container">
                                <ul id="menu-headermenu-%ec%98%81%ec%96%b4" class="main-menu">
                                    <li id="" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="javascript:void(0)">{{ stringtable['nav-1'] }}</a></li>
                                    <li id="" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="javascript:void(0)">{{ stringtable['nav-2'] }}</a></li>
                                    <li id="" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="javascript:void(0)">{{ stringtable['nav-3'] }}</a></li>
                                    <li id="" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="javascript:void(0)">{{ stringtable['nav-5'] }}</a></li>
                                </ul>
                            </div>
                        </nav><!-- #site-navigation -->
                    </div>
                    <!-- .1Depth -->
                </div>
                <!-- .Menu -->
                <!--  Mega Link -->
                <div class="SiteHeaderLink">
                    <!-- Lang -->
                    <div class="SiteHeaderLinkLang">
                        <ul class="SiteHeaderLinkLang-list">
                            <li class="SiteHeaderLinkLang-item"><a href="/de" class="SiteHeaderLinkLang-link">DE</a></li>
                            <li class="SiteHeaderLinkLang-item"><a href="/en" class="SiteHeaderLinkLang-link">EN</a></li>
                            <li class="SiteHeaderLinkLang-item"><a href="/ru" class="SiteHeaderLinkLang-link">RU</a></li>
                            <li class="SiteHeaderLinkLang-item"><a href="/vk" class="SiteHeaderLinkLang-link">VK</a></li>
                        </ul>
                    </div>
                    <!-- .Lang -->
                    <!-- SiteMap -->
                    <div class="SiteHeaderMapButton">
                        <a href="/en/#;" class="SiteHeaderMapButton-text j-HeaderMapButton">{{ stringtable['nav-6'] }}<span class="SiteHeaderMapButton-icon"></span></a>
                    </div>
                    <!-- .SiteMap -->
                </div>
                <!-- .Mega Link -->
            </div>
        </div>
        <!-- Sub Depth -->
        <div class="SiteHeaderMenuSubDepth">
            <div class="SiteHeaderMenuSubDepthBg">
                <span class="SiteHeaderMenuSubDepthBg-item"></span>
                <span class="SiteHeaderMenuSubDepthBg-item"></span>
                <span class="SiteHeaderMenuSubDepthBg-item"></span>
                <span class="SiteHeaderMenuSubDepthBg-item"></span>
                <span class="SiteHeaderMenuSubDepthBg-item"></span>
            </div>
            <div class="site-container">
                <nav id="site-sub-navigation" class="main-navigation">
                    <div class="menu-megamenu-%ec%98%81%ec%96%b4-container">
                        <ul class="sub-main-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                <a class="py-2 text-warning" style="cursor: default;" aria-haspopup="true" aria-expanded="false">{{ stringtable['nav-1'] }}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/valky/status">{{ stringtable['nav-1-1'] }}</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/valky/tasks">{{ stringtable['nav-1-2'] }}</a></li>
                                    {#<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/valky/tasks/finished">{{ stringtable['nav-1-3'] }}</a></li>#}
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/valky/settings">{{ stringtable['nav-1-4'] }}</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/valky/luna">{{ stringtable['nav-1-5'] }}</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                <a class="py-2 text-warning" style="cursor: default;" aria-haspopup="true" aria-expanded="false">{{ stringtable['nav-2'] }}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/twitch/status" target="_blank">{{ stringtable['nav-2-1'] }}</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/twitch/settings">{{ stringtable['nav-2-2'] }}</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/twitch/scopes">{{ stringtable['nav-2-3'] }}</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/twitch/rewards">{{ stringtable['nav-2-4'] }}</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                <a class="py-2 text-warning" style="cursor: default;" aria-haspopup="true" aria-expanded="false">{{ stringtable['nav-3'] }}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/discord/status">{{ stringtable['nav-3-1'] }}</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/{{ stringtable['lang'] }}/discord/settings">{{ stringtable['nav-3-2'] }}</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                <a class="py-2 text-warning" style="cursor: default;" aria-haspopup="true" aria-expanded="false">{{ stringtable['nav-5'] }}</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://valky.dev/{{ stringtable['lang'] }}">{{ stringtable['nav-5-1'] }}</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://paypal.me/valkyteq" target="_blank">{{ stringtable['nav-5-2'] }}</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://discord.gg/vky" target="_blank">{{ stringtable['nav-5-4'] }}</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://twitch.tv/v_lky" target="_blank">{{ stringtable['nav-5-5'] }}</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://valky.dev/{{ stringtable['lang'] }}/legal">{{ stringtable['nav-5-3'] }}</a></li>
                                    {% if 'loggedin' in session %}
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/logout">{{ stringtable['nav-5-6'] }}</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav><!-- #site-navigation -->
            </div>
        </div>
        <!-- .Sub Depth -->
        <div class="SiteHeaderBar is-View"><span class="SiteHeaderBar-bg"></span></div>
    </header><!-- #masthead -->